// Font family
@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura_Book-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-Bold';
    src: url('../fonts/FuturaBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'NewYork';
    src: url('../fonts/NewYork.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}